@import './../../styles/variables.scss';

.container {
  margin: 0 auto;
  height: 200px;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #4c4c4c;
  }
}

.form {
  display: flex;
  justify-content: center;
  background: #bfdefa;
  border-radius: 60px;
  padding: 60px;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: #4c4c4c;
  }
  &__content {
    display: flex;

    flex-direction: column;
  }

  &__list {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #4c4c4c;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      width: 100%;
      background: transparent;
      border: 0;
      border-bottom: 1px solid;
      padding: 1em 0 0.8em;
      text-align: left;
      font-size: 18px;
      font-family: inherit;
      font-weight: 300;
      line-height: 1.5;
      color: inherit;
      outline: none;

      &::placeholder {
        color: #515151;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    a {
      display: block;
      color: #292929;
      text-decoration: none;
    }
  }

  &__btn {
    margin: 34px 44px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: white;
    width: 179px;
    height: 63px;
    border-radius: 8px;
    background-color: #127bd7;
    border: none;
    padding: $spacing-sm $spacing-lg;

    cursor: pointer;
    left: calc(50% - 179px / 2 - 29px);
    box-shadow: 0 0 0.5em 0 #127bd7;

    &:active {
      transform: scale(0.98);
      border-radius: 0;
    }
    &:hover {
      box-shadow: 0 0 0.75em 0 $primary;
    }

    &:disabled {
      background-color: #ccc;
      color: gray;
      border-color: #ccc;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}
