@import '../../styles/variables.scss';
.content {
  margin-top: 60px;
  width: 100%;
  height: 35rem;
  z-index: 10;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.window {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 27px;
  z-index: 50;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12.5px);
  border-radius: 15px;
  &__title {
    padding: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    &__list {
      text-align: left;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__button {
    margin: 34px 44px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: white;
    width: 179px;
    height: 63px;
    border-radius: 8px;
    background-color: #127bd7;
    border: none;
    padding: $spacing-sm $spacing-lg;

    cursor: pointer;
    left: calc(50% - 179px / 2 - 29px);
    box-shadow: 0 0 0.5em 0 #127bd7;

    &:active {
      transform: scale(0.98);
      border-radius: 0;
    }
    &:hover {
      box-shadow: 0 0 0.75em 0 $primary;
    }
  }
}

.section {
  &__numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
}
