@import './variables.scss';

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}
#root {
	height: 100%;
	
}

body {
	max-width: 1000px;
	margin: 0 auto;
	font-family: $montserrat-font, $roboto-font, sans-serif;
	color: $text2;
	height: 200vh;
}

/* button {
	font-family: inherit;
	outline: none;
	border: none;
	background: none;
	letter-spacing: inherit;
	color: inherit;
	font-size: inherit;
	text-align: inherit;
	padding: 0;
} */
