@import './variables.scss';

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}
#root {
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $montserrat-font, $roboto-font, sans-serif;
	color: $text2;
	height: 200vh;
}
