@import '../../styles/variables.scss';

.container {
  margin-top: 400px;
  width: 100%;
  height: 50%;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;

    color: #515151;
  }
}

.slider__container {
  display: flex;
  align-items: center;

  background-color: white;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #292929;
  }
  &__oldPrice {
    text-decoration-line: line-through;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(41, 41, 41, 0.5);
  }
  &__newPrice {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #127bd7;
  }
  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 67px;
  }
}

.swiper {
  width: 80%;
  height: 30%;
  box-shadow: 0px 4px 40px rgba(18, 123, 215, 0.15);
  border-radius: 80px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  &__ {
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
